<div class="jumbotron">
    <div class="d-flex justify-content-end">
        <!-- <button class="btn btn-light" (click)="themeChnge()">
            <i *ngIf="currentTheme == 'dark'" class="fas fa-sun text-primary"></i>
            <i *ngIf="currentTheme == 'light'" class="fas fa-moon text-primary"></i>
        </button> -->

    </div>
    <div class="text-center">
        <h1 class="display-3">Nishant Rathore</h1>
        <h3 class="typewriter">
            {{ currentText || '\u00A0' }}
        </h3>
    </div>
</div>