<div class="container">
    <div class="row mt-2 mb-2">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="h-100 d-flex flex-column justify-content-center align-items-center text-center">
                <div class="mb-3"></div>
                <img src="../../../assets/my-pic.jpg" alt="" height="300px" class="rounded-circle fade-in" />

                <p style="margin: 1rem 0; font-size: 14px;font-weight: 600;">
                    Passionate Full Stack Developer specializing in MEAN and MERN stacks, building dynamic, scalable web
                    and mobile applications with clean architecture and modern UI/UX practices.
                </p>

                <!-- Get in Touch Buttons -->
                <app-get-in-touch></app-get-in-touch>
            </div>
        </div>



        <!-- Skills -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <div class="mb-2"></div>

                <!-- Buttons -->
                <div class="btn-group mb-3" role="group" aria-label="Skill categories">
                    <button type="button" class="btn" [class.active]="selectedCategory === 'frontend'"
                        (click)="selectCategory('frontend')">
                        Frontend
                    </button>
                    <button type="button" class="btn" [class.active]="selectedCategory === 'backend'"
                        (click)="selectCategory('backend')">
                        Backend
                    </button>
                    <button type="button" class="btn" [class.active]="selectedCategory === 'other'"
                        (click)="selectCategory('other')">
                        Other
                    </button>
                </div>


                <div
                    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3 justify-content-center px-3 mb-4">
                    <div class="col" *ngFor="let skill of filteredSkills">
                        <div class="card skill-card text-center p-3">
                            <i [class]="skill.icon + ' fa-2x mb-2'" [ngClass]="skill.color"></i>
                            <h6>{{ skill.name }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>