<div class="container">
    <div class="row">
        <!--About Me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>
                <img src="../../../assets/my-pic.jpg" alt="" height="256px" class="rounded-circle">
                <p style="margin: 1rem 0;font-size: 14px;">I am a passionate and detail-oriented Software Engineer with
                    hands-on experience in building scalable
                    web and mobile applications using a modern technology stack. I specialize in front-end development
                    with HTML, CSS, JavaScript, Angular, and React/React-Native, and have robust back-end expertise with
                    Node.js and SQL. I’m also experienced in NoSQL databases like MongoDB, cross-platform mobile
                    development using Ionic, and deploying applications on AWS. I enjoy solving complex problems and
                    delivering user-centric solutions that drive performance and efficiency.</p>
            </div>
        </div>
        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h2>{{featureProject.name}}</h2>
            </div>

            <carousel [interval]="myInterval">
                <div *ngFor="let picture of featureProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="width: 100%;display: block;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featureProject.summary}}</p>
            <p>Visit the Porfolio section to learn more!</p>
        </div>
    </div>
</div>