<div class="navbar-expand-md border-bottom mb3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-items">
                <a routerLink="/home" routerLinkActive="active" class="nav-link text-secondary">Home</a>
            </li>
            <li class="nav-items">
                <a routerLink="/portfolio" routerLinkActive="active" class="nav-link text-secondary">Portfolio</a>
            </li>
            <li class="nav-items">
                <a routerLink="/resume" routerLinkActive="active" class="nav-link text-secondary">Resume</a>
            </li>
            <li class="nav-items">
                <a routerLink="/contact" routerLinkActive="active" class="nav-link text-secondary">Contact</a>
            </li>
        </ul>
    </div>
</div>