<div *ngIf="showForm" class="container mt-5">
    <form #formData="ngForm"
        action="https://script.google.com/macros/s/AKfycbyOMh_ORyyEs2tElxocEsWY3psd_LntjohhkR_c5tXEZcWvVVRhhdi_b-dcU0dmg_HPdA/exec"
        method="POST" (ngSubmit)="submitForm(formData)">
        <div class="mb-1">
            <label for="name" class="form-label">Name*</label>
            <input type="text" class="form-control" id="name" ngModel name="name" required minlength="3"
                pattern="^[a-zA-Z\s]*$">
            <div *ngIf="formData.controls['name']?.touched && formData.controls['name'].errors?.['required']"
                class="text-danger">
                Name is required
            </div>
            <div *ngIf="formData.controls['name']?.touched && formData.controls['name'].errors?.['minlength']"
                class="text-danger">
                Name must be at least 3 characters long
            </div>
            <div *ngIf="formData.controls['name']?.touched && formData.controls['name'].errors?.['pattern']"
                class="text-danger">
                Name must contain only letters and spaces
            </div>
        </div>
        <div class="mb-1">
            <label for="email" class="form-label">Email*</label>
            <input type="email" class="form-control" id="email" ngModel name="email" required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
            <div *ngIf="formData.controls['email']?.touched && formData.controls['email'].errors?.['required']"
                class="text-danger">
                Email is required
            </div>
            <div *ngIf="formData.controls['email']?.touched && formData.controls['email'].errors?.['pattern']"
                class="text-danger">
                Please enter a valid email address
            </div>
        </div>
        <div class="mb-1">
            <label for="phone" class="form-label">Phone*</label>
            <input type="tel" class="form-control" id="phone" ngModel name="phone" required pattern="[0-9]{10}"
                maxlength="10" (keydown)="onPhoneKeyDown($event)">
            <div *ngIf="formData.controls['phone']?.touched && formData.controls['phone'].errors?.['required']"
                class="text-danger">
                Phone is required
            </div>
            <div *ngIf="formData.controls['phone']?.touched && formData.controls['phone'].errors?.['pattern']"
                class="text-danger">
                Please enter a valid 10-digit phone number
            </div>
        </div>
        <div class="mb-2">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" ngModel name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Submit</button>
    </form>
</div>


<!-- Loader Overlay -->
<div *ngIf="loading" class="loader-overlay">
    <div class="spinner"></div>
</div>

<!-- Success message -->
<div *ngIf="formSubmittedSuccessfully && !loading">
    <div class="alert alert-success mt-3">
        Success! Your submission is complete. Click <a href="#"
            (click)="contactAgain();$event.preventDefault()">Back</a> to return to
        the previous page.
    </div>
</div>




<!-- Error message -->
<div *ngIf="errorMessage && !loading" class="alert alert-danger mt-3">
    {{ errorMessage }}
</div>