<div class="container">

    <div class="mb-2">
        <div>
            <button class="btn btn-outline-secondary mt-2 mb-2 me-2" (click)="isCollapsed =!isCollapsed">Filter</button>
            <button class="btn btn-outline-danger mt-2 mb-2" (click)="resetFilter()"
                [hidden]="!filtering">Reset</button>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true">
            <form>
                <div class="form-group overflow-auto">
                    <div class="row" style="width: 100%;">
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()" [(ngModel)]="genAI"
                                    name="AI">
                                <label class="form-check-label small">AI</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()" [(ngModel)]="nodejs"
                                    name="Nodejs">
                                <label class="form-check-label small">Node.js</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()"
                                    [(ngModel)]="typescript" name="Typescript">
                                <label class="form-check-label small">Typescript</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()"
                                    [(ngModel)]="angular" name="Angular">
                                <label class="form-check-label small">Angular</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()"
                                    [(ngModel)]="bootstrap" name="Bootstrap">
                                <label class="form-check-label small">Bootstrap</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()" [(ngModel)]="react"
                                    name="React">
                                <label class="form-check-label small">React</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()" [(ngModel)]="redux"
                                    name="React">
                                <label class="form-check-label small">Redux</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()" [(ngModel)]="socket"
                                    name="Socket.IO">
                                <label class="form-check-label small">Socket.IO</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()" [(ngModel)]="firebase"
                                    name="Socket.IO">
                                <label class="form-check-label small">Firebase</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()" [(ngModel)]="mongodb"
                                    name="Socket.IO">
                                <label class="form-check-label small">MongoDB</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()"
                                    [(ngModel)]="googleAuth" name="GoogleAuth">
                                <label class="form-check-label small">Google Auth</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" (change)="filter()"
                                    [(ngModel)]="materialUI" name="MaterialUI">
                                <label class="form-check-label small">Material UI</label>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-2 mt-2 project-card-wrapper">
            <app-project-cards [project]="project"></app-project-cards>
        </div>
    </div>

</div>